{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block titre %}Clients{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{{ path('customer_add') }}" role="button">ajout</a>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ sg_datatables_render(customerDatatable) }}
    </div>
</div>
{% endblock %}
