{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block titre %}Factures{% endblock %}

{% block body %}

{% set total = 0 %}
{% set nbArticle = 0 %}


<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{{ path('invoices_add') }}" role="button">ajout</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="presidents">Loading...</div>
        <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
        <script>
        $(function() {
            $('#presidents').initDataTables({{ datatable_settings(datatable) }}, {
                searching: true,
                dom:'<"html5buttons"B>lTfgitp',});
        });
        </script>  
    </div>
</div>

{% endblock %}
