<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/">Acueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ventes</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('clients') }}">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('produits') }}">Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('settings') }}">Settings</a>
    </li>
  </ul>