{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block titre %}Products{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{{ path('products_add') }}" role="button">ajout</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="presidents">Loading...</div>
        <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
        <script>
        $(function() {
            $('#presidents').initDataTables({{ datatable_settings(datatable) }}, {
                searching: true,
                dom:'<"html5buttons"B>lTfgitp',});
        });
        </script>      
    </div>
</div>
{% endblock %}
