{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block titre %}Produits{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{{ path('produits_add') }}" role="button">ajout</a>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ sg_datatables_render(produitsDatatable) }}
    </div>
</div>
{% endblock %}
