{% extends 'base.html.twig' %}

{% block title %}Sales{% endblock %}

{% block titre %}Sales{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{{ path('sales_add') }}" role="button">ajout</a>
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
</div>
{% endblock %}
