{% extends 'base.html.twig' %}

{% block title %}Mensuration Client{% endblock %}

{% block titre %}Client/Mensuration{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        <img class="img-fluid" src="{{ asset('images/mesuraration_'~ genre ~'.jpg') }}"/>        
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                {{ form_start(mensurationForm) }}
                {{ form_end(mensurationForm) }}
            </div>
        </div>
    </div>
</div>



{% endblock %}
